<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Inicio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <!-- Normalize CSS -->
  	<link rel="stylesheet" href="../css/normalize.css">
     <!-- Materialize CSS -->
  	<link rel="stylesheet" href="../css/materialize.min.css">
     <!-- Material Design Iconic Font CSS -->
  	<link rel="stylesheet" href="../css/material-design-iconic-font.min.css">
    <!-- Malihu jQuery custom content scroller CSS -->
  	<link rel="stylesheet" href="../css/jquery.mCustomScrollbar.css">
    <!-- Sweet Alert CSS -->
    <link rel="stylesheet" href="../css/sweetalert.css">
    <!-- MaterialDark CSS -->
	  <link rel="stylesheet" href="../css/style.css">
  	<link rel="stylesheet" href="../css/bootstrap.css">
  	<link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- endbuild -->
  </head>
  <body ng-app="myapp">
      <!-- Nav Header -->
      <div class="ContentPage-Nav full-width">
        <ul class="full-width">
          <li class="btn-MobileMenu ShowHideMenu">
            <a ng-href="#" class="tooltipped waves-effect waves-light" data-position="bottom" data-delay="50" data-tooltip="">
              <i class="zmdi zmdi-more-vert"></i>
            </a>
          </li>
          <li>
            <figure>
              <img src="../assets/img/user.png" alt="UserImage">
            </figure>
          </li>
          <li style="padding:0 5px;">User Name</li>
          <li>
            <a ng-href="#" class="tooltipped waves-effect waves-light btn-ExitSystem" data-position="bottom" data-delay="50" data-tooltip="Salir">
              <i class="zmdi zmdi-power"></i>
            </a>
          </li>
        </ul>	
      </div>

      <!-- Nav Lateral -->
      <section class="NavLateral full-width">
        <div class="NavLateral-FontMenu full-width ShowHideMenu"></div>
          <div class="NavLateral-content full-width">
            <header class="NavLateral-title full-width center-align">Inicio
              <i class="zmdi zmdi-close NavLateral-title-btn ShowHideMenu"></i>
            </header>
            <figure class="full-width NavLateral-logo">
              <a target="_blank" ng-href="http://www.techsoluxy.com" ><img src="../assets/img/logo.png" alt="software a medida" class="responsive-img center-box"></a>
              <!--  <figcaption class="center-align">User</figcaption>-->
            </figure>
            <div class="NavLateral-Nav">
              <ul class="full-width">
                <li class="NavLateralDivider"></li>
                <li>
                  <a ng-href="inicio.html" class="waves-effect waves-light">
                    <i class="zmdi zmdi-home zmdi-hc-fw"></i> 
                    Inicio
                  </a>
                  
                </li>
                <li class="NavLateralDivider"></li>
                <li>
                  <a ng-href="cliente.html" class="NavLateral-DropDown waves-effect waves-light">
                    <i class="zmdi zmdi-assignment-account zmdi-hc-fw"></i> 
                    <i class="zmdi zmdi-chevron-down NavLateral-CaretDown"></i>Clientes
                  </a>
                  <ul class="full-width">
                  <li>
                    <a ng-href="cliente.html" class="waves-effect waves-light">
                      <i class="zmdi zmdi-account-add zmdi-hc-fw"></i> Gestión
                    </a>
                  </li>    
                  <li class="NavLateralDivider"></li>
                  <li>
                    <a ng-href="cierre_cliente.html" class="waves-effect waves-light">
                      <i class="zmdi zmdi-assignment-o zmdi-hc-fw"></i> Cierre
                    </a>
                  </li>
                  <li class="NavLateralDivider"></li>  
                  <li>
                    <a ng-href="entrega.html" class="waves-effect waves-light"><i class="zmdi zmdi-upload zmdi-hc-fw"></i> Entrega</a>
                  </li>
                </li>							
              </ul>
                        
              <li class="NavLateralDivider"></li>
              <li>
                <a ng-href="#" class="NavLateral-DropDown waves-effect waves-light">
                  <i class="zmdi zmdi-edit zmdi-hc-fw"></i>
                  <i class="zmdi zmdi-chevron-down NavLateral-CaretDown"></i>Edición
                </a>
                <ul class="full-width">                          
                  <li class="NavLateralDivider"></li>
                  <li><a ng-href="entrega.html" class="waves-effect waves-light"><i class="zmdi zmdi-wrench zmdi-hc-fw"></i> Ajuste de Cierre</a></li>
                  <li class="NavLateralDivider"></li>
                  <li><a ng-href="recepcion.html" class="waves-effect waves-light"><i class="zmdi zmdi-puzzle-piece zmdi-hc-fw"></i> Ajuste de Pieza</a></li>
                </ul>
              </li>
              <li class="NavLateralDivider"></li>
              <li>
                <a ng-href="#" class="NavLateral-DropDown  waves-effect waves-light"><i class="zmdi zmdi-card zmdi-hc-fw"></i> <i class="zmdi zmdi-chevron-down NavLateral-CaretDown"></i>Proveedores</a>
                <ul class="full-width">
                  <li>
                    <a ng-href="proveedor.html" class="waves-effect waves-light">
                      <i class="zmdi zmdi-account-add zmdi-hc-fw"></i> Gestión
                    </a>
                  </li>
                  <li class="NavLateralDivider"></li>
                  <li>
                    <a ng-href="cierre_proveedor.html" class="waves-effect waves-light">
                      <i class="zmdi zmdi-assignment-o zmdi-hc-fw"></i> Cierre
                    </a>
                  </li>
                  <li class="NavLateralDivider"></li>
                  <li>
                    <a ng-href="recepcion.html" class="waves-effect waves-light">
                      <i class="zmdi zmdi-download zmdi-hc-fw"></i> Recepción
                    </a>
                  </li>
                </ul>
              </li>
              <li class="NavLateralDivider"></li>
              <li>
                <a ng-href="#" class="NavLateral-DropDown  waves-effect waves-light"><i class="zmdi zmdi-collection-text zmdi-hc-fw"></i> <i class="zmdi zmdi-chevron-down NavLateral-CaretDown"></i>Reportes</a>
                <ul class="full-width">
                  <li>
                    <a ng-href="template.html" class="waves-effect waves-light ">Blank Page</a>
                  </li>
                </ul>
              </li>
              <li class="NavLateralDivider"></li>
              <!--Salir menu vertical-->
              <li>
                <a ng-href="inicio.html" class="NavLateral-DropDown  waves-effect waves-light"><i class="zmdi zmdi-power zmdi-hc-fw"></i> Salir</a>
              </li>
              <li class="NavLateralDivider"></li>
            </div>
          </div>
      </section>



    <div class="tamanno" >
        <section class="ContentPage" style="background-image: url(../assets/img/fondo_2.jpeg); background-size: 100% 100%">
         <div class="container"> 
        <div ng-view=""></div>

        </br>
        <ul class="nav nav-tabs col-md-12" style="margin-left:0.2cm; ">
          <li class="active"><a style="color:black; font-weight:600; font-family: 'Tahoma';" href="#proveedores" data-toggle="tab">Proveedores</a></li>
          <li><a style="color:black; font-weight:600; font-family: 'Tahoma';" href="#clientes" data-toggle="tab">Clientes</a></li>
        </ul>

        <div class="tab-content col-md-9 col-md-offset-1">
          <div class="tab-pane fade in active" id="proveedores" ng-controller="ctrlpaginado">
            <h3 style="color:black; font-weight:600; font-family: 'Tahoma';" class="center-align">Próximas Recepciones de Proveedores </h3>
            <br>
            <div class="col-md-4 col-md-offset-8"> 
              <input type="text" placeholder="Buscar" style="font-weight: 600; font-family: 'Tahoma';" ng-pagination-search="personas">
            </div>
            <br>
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="active">
                          <th class="center-align">Orden</th>
                          <th class="center-align">Proveedor</th>
                          <th class="center-align">Cierre (g)</th>
                          <th class="center-align">Entregado (g)</th>
                          <th class="center-align">Por Cerrar (g)</th>
                          <th class="center-align">Precio</th>
                          <th class="center-align">Fecha de Entrega</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-pagination="item in personas" ng-pagination-size="10">
                          <td class="center-align" style="cursor: not-allowed;" field="orden">
                            {{item.orden}}
                          </td>
                          <td class="center-align" field="cliente">
                            {{item.cliente}}
                          </td>
                          <td class="center-align" field="cierre">
                            {{item.cierre |currency: ''}}
                          </td>
                          <td class="center-align" field="entregado">
                            <a data-toggle="modal" data-target="#entregaProveedorModal">{{item.entregado |currency: ''}}</a>
                          </td>
                          <td class="center-align" field="por_cerrar">
                            {{item.cierre - item.entregado | currency: ''}}
                          </td>
                          <td class="center-align" field="precio">
                            {{item.precio | currency: ''}}
                          </td>
                          <td class="center-align" field="fecha_entrega">
                            {{item.fecha_entrega}}
                          </td>
                        </tr>
                    </tbody>
                  </table>
                </div>
                <ng-pagination-control pagination-id="personas"></ng-pagination-control>
              </div>                
          </div>

          <div class="tab-pane" id="clientes" ng-controller="ctrlpaginado">
            <h3 style="color:black; font-weight:600; font-family: 'Tahoma';" class="center-align">Próximas Entregas a Clientes </h3>
            <br>
            <div class="col-md-4 col-md-offset-8"> 
              <input type="text" placeholder="Buscar" style="font-weight: 600; font-family: 'Tahoma';" ng-pagination-search="personas">
            </div>
            <br>
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="active">
                          <th class="center-align">Orden</th>
                          <th class="center-align">Cliente</th>
                          <th class="center-align">Cierre (g)</th>
                          <th class="center-align">Entregado (g)</th>
                          <th class="center-align">Por Cerrar (g)</th>
                          <th class="center-align">Precio</th>
                          <th class="center-align">Fecha de Entrega</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-pagination="item in personas" ng-pagination-size="10">
                          <td class="center-align" style="cursor: not-allowed;" field="orden">
                            {{item.orden}}
                          </td>
                          <td class="center-align" field="cliente">
                            {{item.cliente}}
                          </td>
                          <td class="center-align" field="cierre">
                            {{item.cierre | currency: ''}}
                          </td>
                          <td class="center-align" field="entregado">
                             <a data-toggle="modal" data-target="#entregaClienteModal">{{item.entregado | currency: ''}}</a>
                          </td>
                          <td class="center-align" field="por_cerrar">
                            {{item.cierre - item.entregado | currency: ''}}
                          </td>
                          <td class="center-align" field="precio">
                            {{item.precio | currency: ''}}
                          </td>
                          <td class="center-align" field="fecha_entrega">
                            {{item.fecha_entrega}}
                          </td>
                        </tr>
                    </tbody>
                  </table>
                </div>
                <ng-pagination-control pagination-id="personas"></ng-pagination-control>
              </div>                
          </div>
        </div>
        </section>
    </div>

  
  <footer class="footer-MaterialDark">
      <div class="NavLateralDivider"></div>
        <div class="center-align">
          <br>
        Copyright ©
        <a target="_blank" ng-href="http://www.techsoluxy.com" >Techsoluxy, C.A.</a>
          Aurelis - 2016. Todos los derechos reservados.
        <a target="_blank" ng-href="humans.txt" >Equipo desarrollador.</a>
      </div>
    <div class="NavLateralDivider"></div>
  </footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="../js/routes_inicio.js"></script>
        <!-- CAMBIAR -->
        <script type="text/javascript" src="../js/controllers/ctrl-inicio.js"></script>        
        <!-- endbuild -->

        <!-- Sweet Alert JS -->
        <script src="../js/sweetalert.min.js"></script>
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../js/jquery-2.2.0.min.js"><\/script>')</script>
        <!-- Materialize JS -->
        <script src="../js/materialize.min.js"></script>
        <!-- Malihu jQuery custom content scroller JS -->
        <script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
        <!-- MaterialDark JS -->
        <script src="../js/main.js"></script>
        <script src="../js/bootstrap.min.js"></script>

<div class="container">
    <!-- Modal -->
  <div class="modal fade" id="entregaProveedorModal" role="dialog">
    <div class="modal-dialog">
        <div class="tamanno">
			    <div class="" ng-controller="ctrlmodal" style="margin-top:100px; ">
	          <div class="row " style=" background-color:#ffffff; border-radius: 10px; box-shadow: 8px 8px 8px black;">
				    <br>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h3 style="color:black; font-weight:600; font-family: 'Tahoma';" class="center-align modal-title">Entregas</h3>                  
            </div>	    
            <br>
	          <div class="col-md-12">
             <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="active">
                          <th class="center-align">Fecha</th>                          
                          <th class="center-align">Cantidad (g)</th>
                          <th class="center-align">Precio</th>
                          <th class="center-align">Total</th>                          
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-pagination="item in personas" ng-pagination-size="10">
                          <td class="center-align"  field="fecha">
                            {{item.fecha}}
                          </td>

                          <td class="center-align" field="cantidad">
                            {{item.cantidad | currency: ''}}
                          </td>
                          <td class="center-align" field="precio">
                            {{item.precio | currency:  ''}}
                          </td>
                          <td class="center-align" field="total">
                            {{item.cantidad*item.precio | currency: ''}}
                          </td>                        
                        </tr>
                    </tbody>
                  </table>
               </div>
                <ng-pagination-control pagination-id="personas"></ng-pagination-control>
               </br>
              </div>
	        </div>
	      </div>
      </div>
    </div>
  </div>  
</div>
<div class="container">
    <!-- Modal -->
  <div class="modal fade" id="entregaClienteModal" role="dialog">
    <div class="modal-dialog">
        <div class="tamanno">
			    <div class="" ng-controller="ctrlmodal" style="margin-top:100px; ">
	          <div class="row " style=" background-color:#ffffff; border-radius: 10px; box-shadow: 8px 8px 8px black;">
				    <br>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h3 style="color:black; font-weight:600; font-family: 'Tahoma';" class="center-align modal-title">Entregas</h3>                  
            </div>	    
            <br>
	          <div class="col-md-12">
             <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="active">
                          <th class="center-align">Fecha</th>
                          <th class="center-align">Proveedor</th>
                          <th class="center-align">Cantidad (g)</th>
                          <th class="center-align">Precio</th>
                          <th class="center-align">Total</th>                          
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-pagination="item in personas" ng-pagination-size="10">
                          <td class="center-align"  field="fecha">
                            {{item.fecha}}
                          </td>
                          <td class="center-align" field="proveedor">
                            {{item.proveedor}}
                          </td>
                          <td class="center-align" field="cantidad">
                            {{item.cantidad | currency: ''}}
                          </td>
                          <td class="center-align" field="precio">
                            {{item.precio | currency:  ''}}
                          </td>
                          <td class="center-align" field="total">
                            {{item.cantidad*item.precio | currency: ''}}
                          </td>                        
                        </tr>
                    </tbody>
                  </table>
               </div>
                <ng-pagination-control pagination-id="personas"></ng-pagination-control>
               </br>
              </div>
	        </div>
	      </div>
      </div>
    </div>
  </div>  
</div>

</body>
</html>
