
<div class="container" >
  </br>
  </br>
  <ul class="nav nav-tabs col-md-12" style="margin-left:0.2cm; " >
          <li class="active"><a style="color:black; font-weight:600; font-family: 'Tahoma';" href="" data-toggle="tab">Inventario</a></li>
  </ul>
  </br>
  </br>
  </br>

  <div class="tab-content col-md-9" style="margin-left: 1.3cm;">
    <h3 style="color:black; font-weight:600; font-family: 'Tahoma';" class="center-align">Inventario de Piezas Disponibles </h3>

      <br>
      <div class="col-md-12">
        <div class="table-responsive">
          <form name"Codenx" novalidate>
            <table class="table table-hover" ng-controller="ctrl-pieza">
              <thead>
                <tr class="active">                        
                  <th class="center-align" style="border-radius: 400px 4px 0 0;">Proveedor</th>
                  <th class="center-align">Cod. Pieza</th>
                  <th class="center-align">Peso Bruto (g)</th>
                  <th class="center-align">Ley</th>                          
                  <th class="center-align">Puro (g)</th>                          
                  <th class="center-align" style="border-radius: 0 400px 4px 0;">Peso Entrega (g)</th>                                  
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="pieza in piezas" ng-if="pieza.status == 'Disponible'">
                  <td class="center-align">
                    {{pieza.recepcion.proveedor.nombres}} {{pieza.recepcion.proveedor.apellidos}} 
                  </td>
                  <td class="center-align">
                    {{pieza.piezaId}}
                  </td>
                  <td class="center-align">
                    {{pieza.peso_bruto}}
                  </td>
                  <td class="center-align">
                    {{pieza.ley}}
                  </td>
                  <td class="center-align">
                    {{pieza.puro_c}}
                  </td>                        
                  <td class="center-align">
                    {{pieza.peso_entrega}}
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>                
    </div>
  </div>
<div data-loading></div>