<div class="col-lg-10 col-lg-offset-1">
 </br><br>
  <ul class="nav nav-tabs">
    <li class="active"><a class="a" href="#entrega" data-toggle="tab">Reporte de Recepciones</a></li>
  </ul>

  <div class="tab-pane">
    <h3 class="center-align">Recepciones de Proveedores </h3>
      <div class="" ng-controller="ctrl-recepcion">
        <table class="table table-hover" datatable="ng" dt-options="dtOptions" id="tabla_reporte" data-page-length='5'>
          <thead>
            <tr class="active">                          
              <th class="center-align bordear-izquierda">Cod. Recepción</th>
              <th class="center-align">Proveedor</th>
              <th class="center-align">Cantidad (g)</th>
              <th class="center-align">Fecha Entrega</th>                          
              <th class="center-align bordear-derecha"></th>
            </tr>
          </thead>
          <tfoot>
            <tr class="active">
                <th class="center-align bordear-izquierda-abajo"></th>
                <th class="center-align"></th>
                <th class="center-align"></th>
                <th class="center-align"></th>
                <th class="center-align bordear-derecha-abajo"></th>
            </tr>
          </tfoot>
          <tbody>
            <tr ng-repeat="recepcion in recepciones" ng-if="(recepcion.cantidad >0)">
              <td class="center-align" >
                {{recepcion.RecepcionId}}
              </td>
              <td class="center-align" >
                {{recepcion.proveedor.nombres}} {{recepcion.proveedor.apellidos}} 
              </td>
              <td class="center-align" >
                {{recepcion.cantidad  | currency: ''}}
              </td>
              <td class="center-align" field="por_cerrar">
                {{recepcion.fecha_recepcion | date:'dd/MM/yyyy' : shortDate}}
              </td>
              <td>
                <a href="" style="color: black;"><span ng-click="generarpqt(recepcion._id)" class="zmdi zmdi-collection-pdf zmdi-hc-2x" ></span></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>                        
  </div>
</div>
