</br>
          <ul class="nav nav-tabs col-md-12" style="margin-left:0.2cm; ">
            <li class="active"><a style="color:black; font-weight:600; font-family: 'Tahoma';" href="#clientes" data-toggle="tab">Clientes</a></li>
          </ul>

        <div class="tab-content col-md-10 col-md-offset-1"  ng-controller="ctrl-cliente">
            <div class="tab-pane fade in active" >
              <h3 style="color:black; font-weight:600; font-family: 'Tahoma';" class="center-align">Gestión de Clientes</h3>
              <br>
            <div class="row">
                <div class="btn-group col-md-2 col-md-offset-10">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    <span class="glyphicon glyphicon-plus" style="font-weight: 600; font-family: 'Tahoma';"> Nuevo</span>
                  </button>
                </div>
              </div>
              <br>
              <div class="col-md-12">
                <div class="table-responsive">
                  <form name="Codenx" novalidate>
                    <table class="table table-hover">
                        <thead>
                            <tr class="active">
                              <th class="center-align">C.I. / Rif</th>
                              <th class="center-align">Cliente</th>
                              <th class="center-align">Teléfono</th>
                              <th class="center-align">Dirección</th>
                              <th class="center-align">Email</th>
                              <th class="center-align"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cliente in clientes">
                              <td class="center-align">
                                {{cliente.ced_rif}}
                              </td>
                              <td class="center-align">
                                {{cliente.nombres}} {{cliente.apellidos}}
                              </td>
                              <td class="center-align">
                                {{cliente.tlf}}
                              </td>
                              <td class="center-align">
                               <img style="max-width: 20px; height: 20px;" src="../assets/img/eye.png" alt="Paris" data-toggle="modal" data-target="#direccionModal" ng-click="direccion(cliente._id)">
                                
                              </td>
                              <td class="center-align">
                                {{cliente.email}}
                              </td>
                              <td class="center-align">                                  
                                  <button class="btn btn-danger glyphicon glyphicon-trash btn-xs" ng-click="remove(cliente)"></button>
                                  <button class="btn btn-warning glyphicon glyphicon-pencil btn-xs" ng-click="edit(cliente._id)" data-toggle="modal" data-target="#myModal"></button>
                              </td>
                            </tr>
                        </tbody>
                      </table>
                    </form>
                   
                  </div>
                </div>                
            </div>
        </div>

<div class="container">
    <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="tamanno">
			    <div class="" style="margin-top:100px; ">
	          <div class="row " style=" background-color:#ffffff; border-radius: 10px; box-shadow: 8px 8px 8px black;">
				    <br>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h3 style="color:black; font-weight:600; font-family: 'Tahoma';" class="center-align modal-title">Nuevo Cliente</h3>                  
            </div>	    
            <br>
	          <form name="Codenx" novalidate class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <input id="nombre" type="text" class="validate" ng-model="cliente.nombres">
                  <label for="nombre">Nombre(s)</label>
                </div>
                <div class="input-field col s6">
                  <input id="apellido" type="text" class="validate" ng-model="cliente.apellidos">
                  <label for="apellido">Apellidos</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                   <input id="ced_rif" type="text" class="validate" ng-model="cliente.ced_rif">
                   <label for="ced_rif">C.I. / RIF</label>
                </div>
                <div class="input-field col s6">
                   <input id="tlf" type="tel" class="validate" ng-model="cliente.tlf">
                   <label for="tlf">Teléfono</label>
                </div>
             </div>
             <div class="row">
                <div class="input-field col s12">
                   <input id="email" type="email" class="validate" ng-model="cliente.email">
                   <label for="email">Email</label>
                </div>
             </div>
             <div class="row">
                <div class="input-field col s12">
                   <input id="direccion" type="text" class="validate" ng-model="cliente.direccion">
                   <label for="direccion">Dirección</label>
                </div>
             </div>
             <div style="text-align:center">
                 <button class="btn btn-primary" ng-click="add(cliente)" ng-if="!cliente._id" type="submit" ng-disabled="!Codenx.$valid">AÑADIR</button>
                 <button class="btn btn-info" ng-click="update(cliente)" ng-if="cliente._id" type="submit">ACTUALIZAR</button>
                 <button class="btn" ng-click="deselect()" ng-if="cliente._id">LIMPIAR</button>
             </div>
             <br>                                                
	         </form>
	        </div>
	      </div>
      </div>
    </div>
  </div>  
</div>
<div data-loading></div>

<div class="container">
    <!-- Modal -->
  <div class="modal fade" id="direccionModal" role="dialog">
    <div class="modal-dialog">
        <div class="tamanno">
			    <div class="" style="margin-top:100px; ">
	          <div class="row " style=" background-color:#ffffff; border-radius: 10px; box-shadow: 8px 8px 8px black;">
				    <br>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h3 style="color:black; font-weight:600; font-family: 'Tahoma';" class="center-align modal-title">Dirección del Cliente</h3>                  
            </div>	    
            <br>
	          <form class="col s12">              
             <div class="row">
                <div class="center-align">
                 {{ cliente.direccion }}                  
                </div>
             </div>            
             <br><br><br>                                                
	         </form>
	        </div>
	      </div>
      </div>
    </div>
  </div>  
</div>

