<div class="col-lg-10 col-lg-offset-1">
  </br>
  </br>
  <ul class="nav nav-tabs">
    <li class="active"><a class="a" href="" data-toggle="tab">Inventario</a></li>
  </ul>

  <div class="tab-content" ng-controller="ctrl-pieza">
    <h3 class="center-align">Inventario de Piezas Disponibles </h3>

      <br>
      <!-- <div class="col-md-12"> -->
        <!-- <div class="table-responsive" > -->
          <form name"Codenx" novalidate>
            <table class="table table-hover" datatable="ng" dt-options="dtOptions" id="tabla_piezas_disponibles" data-page-length='10' >
              <thead>
                <tr class="active">                        
                  <th class="center-align bordear-izquierda">Cod. Pieza</th>
                  <th class="center-align" style="width: 30%">Proveedor</th>
                  <th class="center-align">Peso Bruto (g)</th>
                  <th class="center-align">Ley</th>                          
                  <th class="center-align">Puro (g)</th>                          
                  <th class="center-align bordear-derecha">Peso Entrega (g)</th>                                  
                </tr>
              </thead>
              <tfoot>
              <tr class="active">
                  <th class="center-align bordear-izquierda-abajo"></th>
                  <th class="center-align"></th>
                  <th class="center-align"></th>
                  <th class="center-align"></th>
                  <th class="center-align"></th>
                  <th class="center-align bordear-derecha-abajo"></th>
              </tr>
            </tfoot>
              <tbody>
                <tr ng-repeat="pieza in piezas" ng-if="pieza.status == 'Disponible'">
                  <td class="center-align">
                    {{pieza.piezaId}}
                  </td>
                  <td class="center-align">
                    {{pieza.recepcion.proveedor.nombres}} {{pieza.recepcion.proveedor.apellidos}} 
                  </td>
                  <td class="center-align">
                    {{pieza.peso_bruto}}
                  </td>
                  <td class="center-align">
                    {{pieza.ley}}
                  </td>
                  <td class="center-align">
                    {{pieza.puro_c}}
                  </td>                        
                  <td class="center-align">
                    {{pieza.peso_entrega}}
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        <!-- </div> -->
      <!-- </div>                 -->
    </div>
  </div>
</div>