</br>
<br>
  <ul class="nav nav-tabs col-md-12" style="margin-left:0.2cm; ">
    <li class="active"><a style="color:black; font-weight:600; font-family: 'Tahoma';" href="#proveedores" data-toggle="tab">Proveedores</a></li>
  </ul>

        <div class="tab-content col-md-10" style="margin-left: 1cm;">
            <div class="tab-pane fade in active" >
              <h3 style="color:black; font-weight:600; font-family: 'Tahoma';" class="center-align">Gestión de Proveedores</h3>
            
              <br>

            <div class="row">
                <div class="btn-group col-md-2 col-md-offset-10">
                  <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#myModal" ng-click="deselect()">
                    <span class="glyphicon glyphicon-plus" style="font-weight: 600; font-family: 'Tahoma';"> Nuevo</span>
                  </button>
                </div>
              </div>

              <br>
              <div class="col-md-12">
                <div class="table-responsive">
                  <form name="Codenx" novalidate>
                    <table class="table table-hover">
                      <thead>
                          <tr class="active">
                            <th class="center-align" style="border-radius: 400px 4px 0 0;">C.I. / Rif</th>
                            <th class="center-align">Proveedor</th>
                            <th class="center-align">Teléfono</th>
                            <th class="center-align">Dirección</th>
                            <th class="center-align">Email</th>
                            <th class="center-align" style="border-radius: 0 400px 4px 0;">Edición</th>
                          </tr>
                      </thead>
                        <tbody>
                          <tr ng-repeat="proveedor in proveedores">
                            <td class="center-align">
                              {{proveedor.nacionalidad}}{{proveedor.ced_rif}}
                            </td>
                            <td class="center-align">
                              {{proveedor.nombres}} {{proveedor.apellidos}}
                            </td>
                            <td class="center-align">
                              {{proveedor.tlf}}
                            </td>
                            <td class="center-align">
                             <img style="max-width: 20px; height: 20px;" src="../assets/img/eye.png" alt="Paris" data-toggle="modal" data-target="#direccionModal" ng-click="direccion(proveedor._id)">
                              
                            </td>
                            <td class="center-align">
                              {{proveedor.email}}
                            </td>
                            <td class="center-align">                                  
                              <!--<button class="btn btn-danger glyphicon glyphicon-trash btn-xs" ng-click="remove(proveedor)"></button>-->
                              <button class="btn btn-warning zmdi zmdi-edit zmdi-hc-2x waves-effect waves-light" ng-click="edit(proveedor._id)" data-toggle="modal" data-target="#myModal"></button>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                  </form>
                   
                </div>
              </div>                
            </div>
        </div>

<div class="container">
    <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="tamanno">
			    <div class="" style="margin-top:100px; ">
	          <div class="row " style=" background-color:#ffffff; border-radius: 10px; box-shadow: 8px 8px 8px black;">
				    <br>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" ng-click="deselect()">&times;</button>
              <h3 style="color:black; font-weight:600; font-family: 'Tahoma';" class="center-align modal-title">Nuevo Proveedor</h3>                  
            </div>	    
            <br>
	          <form name="Codenx" novalidate class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <input ng-required="true" id="nombre" type="text" class="validate" ng-model="proveedor.nombres" style="text-align: right;">
                  <label for="nombre">Nombre(s)</label>
                </div>
                <div class="input-field col s6">
                  <input ng-required="true" id="apellido" type="text" class="validate" ng-model="proveedor.apellidos" style="text-align: right;">
                  <label for="apellido">Apellidos</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s2">
                  <select class="select" name="nacionalidad" id="nacionalidad" ng-model="proveedor.nacionalidad" ng-required="true">
                      <option value="V" ng-selected="true">V</option>
                      <option value="E">E</option>
                      <option value="J">J</option>
                  </select>
                </div>
                <div class="input-field col s4">                 
                   <input ng-required="true" id="ced_rif" type="text" class="validate" ng-model="proveedor.ced_rif" ng-change="verifyDuplicate()" style="text-align: right;">
                   <label for="ced_rif">C.I. / RIF</label>
                   <div class="card-panel red lighten-2"  ng-show="isvalid" ng-model="isvalid" style="color:white" >                   Cédula Existe 
                   </div>
                </div>
                <div class="input-field col s6">
                   <input ng-required="true" id="tlf" type="tel" class="validate" ng-model="proveedor.tlf" style="text-align: right;">
                   <label for="tlf">Teléfono</label>
                </div>
             </div>
             <div class="row">
                <div class="input-field col s12">
                   <input ng-required="true" id="email" type="email" class="validate" ng-model="proveedor.email" style="text-align: center;">
                   <label for="email">Email</label>
                </div>
             </div>
             <div class="row">
                <div class="input-field col s12">
                   <input ng-required="true" id="direccion" type="text" class="validate" ng-model="proveedor.direccion" style="text-align: center;">
                   <label for="direccion">Dirección</label>
                </div>
             </div>
             <div style="text-align:center">
                 <button class="btn btn-primary waves-effect waves-light" ng-click="add(proveedor)" ng-if="!proveedor._id" type="submit" ng-disabled="!Codenx.$valid" data-dismiss="modal">AÑADIR</button>
                 <button class="btn btn-info waves-effect waves-light" ng-click="update(proveedor)" ng-if="proveedor._id" type="submit" ng-change="verifyDuplicate()" data-dismiss="modal">ACTUALIZAR</button>
                 <button class="btn waves-effect waves-light" ng-click="deselect()" ng-if="proveedor._id">LIMPIAR</button>
             </div>
             <br>                                                
	         </form>
	        </div>
	      </div>
      </div>
    </div>
  </div>  
</div>
<div data-loading></div>

<div class="container">
    <!-- Modal -->
  <div class="modal fade" id="direccionModal" role="dialog">
    <div class="modal-dialog">
        <div class="tamanno">
			    <div class="" style="margin-top:100px; ">
	          <div class="row " style=" background-color:#ffffff; border-radius: 10px; box-shadow: 8px 8px 8px black;">
				    <br>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h3 style="color:black; font-weight:600; font-family: 'Tahoma';" class="center-align modal-title">Dirección del proveedor</h3>                  
            </div>	    
            <br>
	          <form class="col s12">              
             <div class="row">
                <div class="center-align">
                 {{ proveedor.direccion }}                  
                </div>
             </div>            
             <br><br><br>                                                
	         </form>
	        </div>
	      </div>
      </div>
    </div>
  </div>  
</div>
