<div class="col-lg-10 col-lg-offset-1"> 
  <br><br>
  <ul class="nav nav-tabs" >
    <li class="active"><a class="a" data-toggle="tab">Reporte de Entrega</a></li>
  </ul>

  <div class="container col-lg-6 col-lg-offset-3 bajar" ng-show="reporte">
    <div class="row container-cierre">
    <br>
      <h3 class="center-align">Clientes</h3>
      <br>
      <form name="Codenx" novalidate">
        <div class="row "> 
          <div class="col-lg-8"> 
            <select class="select col-lg-offset-3" ng-model="cliente._id" ng-change="buscarCliente(cliente._id)">
              <option value="">Seleccione Cliente</option>
              <option ng-repeat="cliente in clientes" value="{{cliente._id}}" ng-if="!cliente.entregado==0">{{cliente.nombres}} {{cliente.apellidos}}</option> 
            </select>
          </div>
        </div> 
        <div class="row">
        <br>
          <div class="col-lg-6">
            <h2 class="left-align">Fecha de Inicio:</h2>
            <input class="center-align" type="text" id="fecha_inicio" ng-model="fecha_inicio"/>
          </div>
          <div class="col-lg-6">
            <h2 class="left-align">Fecha de Fin:</h2>
            <input class="center-align" type="text" id="fecha_fin" ng-model="fecha_fin"/> 
          </div>
        </div>                       
        <br>                              
        <div class="center-align">                        
          <button class="btn btn-primary waves-effect waves-light" ng-disabled="!(fecha_inicio && fecha_fin) && !(cliente)" type="submit" ng-click="generarpqtC()">GENERAR REPORTE </button>
        </div>           
        <br>                                                                       
      </form>           
    </div>       
  </div>
</div>
<br>

<script type="text/javascript">
  $('#fecha_inicio').datepicker({
    language: "es",
    format:"yyyy-mm-dd"
  });

    $('#fecha_fin').datepicker({
    language: "es",
    format:"yyyy-mm-dd"
  });
</script>
