<div class="container"> 
      <div class="tamanno">
			  <div class="container col-md-6 col-md-offset-3" style="margin-top:100px; ">
	        <div class="row" style=" background-color:#ffffff; border-radius: 10px; box-shadow: 8px 8px 8px black;">
				    <br>
	          <h3 style="color:black; font-weight:600; font-family: 'Tahoma';" class="center-align">Ajuste de Cierre</h3>
            <br>
	          <form class="col s12">
              <div class="row" ng-controller="ctrl-cliente">                            
                <div class="input-field col s6" >                                                
                  <select id="s1" class="select" value="cliente.cod_persona" ng-model="cliente" ng-options="cliente.nombres +' ' +cliente.apellidos for cliente in clientes" ng-required="true"></select>                                                
                </div>          
                <div class="input-field col s6" ng-controller="ctrl-cierre">                                                
                  <select id="s2" class="select" value="cliente.cod_persona" ng-model="cierre" ng-disabled="!cliente" ng-options="cliente.nombres + cliente.apellidos for cliente in clientes"></select>                                                                                                 
                </div>                    
              </div>
              <br>                
              <div style="text-align:center">                
              <!-- Trigger the modal with a button -->
                <button type="button" class="btn waves-effect waves-light btn-danger waves-teal btn-flat" data-toggle="modal" data-target="#pagosModal"> Eliminar
                  <i class="zmdi zmdi-close"></i>
                </button>
              </div> 
              <br>  
              <br>                                                                       
	        </form>           
	      </div>
	    </div>
     </div>
</div>
<!-- Modal -->
<div class="container">    
  <div class="modal fade" id="pagosModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content" ng-controller="ctrlModalPagos">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>         
        </div>
        <div class="modal-body">
          <div class="row">    
             <h4 class="modal-title center-align" style="color:black; font-weight:600; font-family: 'Tahoma';">¿Seguro que quiere eliminar este cierre?</h4>
          </div>
          <br>          
        </div>
        <div class="modal-footer"> 
            <div class="btn-group">           
                <button type="button" class="btn btn-primary" data-dismiss="modal">Confirmar</button> 
            </div>
        </div>
      </div>
    </div>  
  </div>    
</div>
