
<div class="container">
 </br><br>
  <ul class="nav nav-tabs col-md-12" style="margin-left:0.2cm; " >
    <li class="active"><a class="a" style="color:black; font-weight:600; font-family: 'Tahoma';" href="#entrega" data-toggle="tab">Reporte de Recepciones</a></li>
  </ul>

  <div class="tab-pane col-md-9" style="margin-left: 1.5cm;" id="entrega" >
    <h3 style="color:black; font-weight:600; font-family: 'Tahoma';" class="center-align">Recepciones de Proveedores </h3>
      <!--<br>
      <br>-->
    <div class="">
      <div class="table-responsive" ng-controller="ctrl-recepcion">
        <table class="table table-hover" datatable="ng" dt-options="dtOptions" id="tabla_reporte" data-page-length='5'>
          <thead>
            <tr class="active">                          
              <th class="center-align" style="border-radius: 400px 4px 0 0;">Cod. Recepción</th>
              <th class="center-align">Proveedor</th>
              <th class="center-align">Cantidad (g)</th>
              <th class="center-align">Fecha Entrega</th>                          
              <th class="center-align" style="border-radius: 0 400px 4px 0;"></th>
            </tr>
          </thead>
          <tfoot>
            <tr class="active">
                <th class="center-align" style="border-radius: 0 0 4px 400px;"></th>
                <th class="center-align"></th>
                <th class="center-align"></th>
                <th class="center-align"></th>
                <th class="center-align" style="border-radius: 0 4px 400px 0; width: 3%"></th>
            </tr>
          </tfoot>
          <tbody>
            <tr ng-repeat="recepcion in recepciones" ng-if="(recepcion.cantidad >0)">
              <td class="center-align" >
                {{recepcion.RecepcionId}}
              </td>
              <td class="center-align" >
                {{recepcion.proveedor.nombres}} {{recepcion.proveedor.apellidos}} 
              </td>
              <td class="center-align" >
                {{recepcion.cantidad  | currency: ''}}
              </td>
              <td class="center-align" field="por_cerrar">
                {{recepcion.fecha_recepcion | date:'dd/MM/yyyy' : shortDate}}
              </td>
              <td>
                <a href="" style="color: black;"><span ng-click="generarpqt(recepcion._id)" class="zmdi zmdi-collection-pdf zmdi-hc-2x" ></span></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>          
    </div>                  
  </div>
</div>
