
<div class="container" >
 </br>
 <br>
  <ul class="nav nav-tabs col-md-12" style="margin-left:0.2cm; " >
    <li class="active"><a class="a" style="color:black; font-weight:600; font-family: 'Tahoma';" data-toggle="tab">Cierres</a></li>
  </ul>

  <div class="tab-content col-md-9" style="margin-left: 1.3cm;">
    <div class="tab-pane fade in active" >
      <h3 style="color:black; font-weight:600; font-family: 'Tahoma';" class="center-align">Cierres </h3>
      <br>
      <br>
      <div class="col-md-12">
        <div class="table-responsive">
          <table datatable="ng" dt-options="dtOptions" id="tabla_cierres" class="table table-hover" data-page-length='5'>
              <thead>
                <tr class="active">                          
                  <th class="center-align" style="border-radius: 400px 4px 0 0; width: 70px;">Cod. Cierre</th>
                  <th class="center-align">Cliente</th>
                  <th class="center-align" style="width: 90px;">Fecha Cierre</th>
                  <th class="center-align" style="width: 90px;">Cantidad (g)</th>
                  <th class="center-align" style="width: 90px;">Precio (Bs)</th>
                  <th class="center-align" style="width: 120px;">Total de Cierre (Bs)</th>                      
                  <th class="center-align" style="border-radius: 0 400px 4px 0; width: 73px;">Opciones</th>
                </tr>
              </thead>
              <tfoot>
                <tr class="active">
                    <th class="center-align" style="border-radius: 0 0 4px 400px;"></th>
                    <th class="center-align"></th>
                    <th class="center-align"></th>
                    <th class="center-align"></th>
                    <th class="center-align"></th>
                    <th class="center-align"></th>
                    <th class="center-align" style="border-radius: 0 4px 400px 0;"></th>
                </tr>
              </tfoot>
              <tbody>
                <tr ng-repeat="cierre in cierres">
                  <td class="center-align" >
                    {{cierre.CierreId}}
                  </td>
                  <td class="center-align" >
                    {{cierre.cliente.nombres}} {{cierre.cliente.apellidos}}
                  </td>
                  <td class="center-align" >                            
                    {{cierre.fecha_cierre}}
                  </td>
                  <td class="center-align" >
                    {{cierre.cantidad | currency: '' }} (g)
                  </td>
                  <td class="center-align" >
                    {{cierre.precio | currency: 'Bs ' }}
                  </td>
                  <td class="center-align" >
                    {{cierre.total | currency: 'Bs '}}
                  </td>
                  <td class="center-align">
                    <a class="btn btn-warning zmdi zmdi-edit zmdi-hc-2x waves-effect waves-light"  ng-href="/aurelis.html#/cierre_cliente/{{cierre._id}}"></a>
                    <button class="btn btn-danger zmdi zmdi-delete zmdi-hc-2x waves-effect waves-light" ng-click="remove(cierre)" data-toggle="modal" data-target="#myModal"></button>
                  </td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>                
    </div>
  </div>
</div>
