
<div class="container" >
  </br>
  </br>

  <ul class="nav nav-tabs col-md-12" style="margin-left:0.2cm; " >
    <li class="active"><a class="a" style="color:black; font-weight:600; font-family: 'Tahoma';" href="#proveedores_" data-toggle="tab">Piezas</a></li>
  </ul>
  <div class="tab-content" style="margin-left: 1.3cm;">
    <h3 style="color:black; font-weight:600; font-family: 'Tahoma';" class="center-align">Piezas Entregadas </h3>

      <br>
      <!-- <div class="col-md-12"> -->
        <!-- <div class="table-responsive"> -->
          <form name"Codenx" novalidate>
            <table datatable="ng" id="tabla_piezas" dt-options="dtOptions" class="table table-hover" data-page-length='5'>
              <thead>
                <tr class="active">                        
                  <th class="center-align" style="border-radius: 400px 4px 0 0;">Cod. Pieza</th>
                  <th class="center-align">Proveedor</th>
                  <th class="center-align">Cliente</th>
                  <th class="center-align">Peso Bruto (g)</th>
                  <th class="center-align">Ley</th>                          
                  <th class="center-align">Puro (g)</th>                          
                  <th class="center-align" style="border-radius: 0 400px 4px 0;">Edición</th>   
                </tr>
              </thead>
              <tfoot>
                <tr class="active">
                    <th class="center-align" style="border-radius: 0 0 4px 400px;"></th>
                    <th class="center-align"></th>
                    <th class="center-align"></th>
                    <th class="center-align"></th>
                    <th class="center-align"></th>
                    <th class="center-align"></th>                    
                    <th class="center-align" style="border-radius: 0 4px 400px 0;"></th>
                </tr>
              </tfoot>
              <tbody>
                <tr ng-repeat="pieza in piezas" ng-if="pieza.status == 'Entregado'">
                  <td class="center-align">
                    {{pieza.piezaId}}
                  </td>
                  <td class="center-align">
                    {{pieza.recepcion.proveedor.nombres}} {{pieza.recepcion.proveedor.apellidos}}                    
                  </td>
                  <td class="center-align">
                    {{pieza.entrega.cliente.nombres}} {{pieza.entrega.cliente.apellidos}}                    
                  </td>
                  <td class="center-align">
                    {{pieza.peso_entrega}}
                  </td>
                  <td class="center-align">
                    {{pieza.ley}}
                  </td>
                  <td class="center-align">
                    {{pieza.puro_c}}
                  </td>                        
                  <td class="center-align">                                  
                    <button class="btn btn-warning zmdi zmdi-edit zmdi-hc-2x waves-effect waves-light" ng-click="edit(pieza._id)" data-toggle="modal" data-target="#myModal"></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        <!-- </div> -->
      </div>                
    <!-- </div> -->
  </div>


  <div class="container">
    <!-- Modal -->
  <div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="tamanno">
			    <div class="" style="margin-top:100px; ">
	          <div class="row " style=" background-color:#ffffff; border-radius: 10px; box-shadow: 8px 8px 8px black;">
				    <br>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h3 style="color:black; font-weight:600; font-family: 'Tahoma';" class="center-align modal-title">Ajuste de Pieza N° {{pieza.piezaId}}</h3>                  
            </div>	    
            <br>
	          <form name="Codenx" novalidate class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <input ng-disabled="true" id="peso_bruto" type="text" style="text-align: right" class="validate" ng-model="pieza.peso_bruto">
                  <label for="peso_bruto">Peso Bruto</label>
                </div>
                <div class="input-field col s6">
                  <input ng-required="true" id="ley" type="text" style="text-align: right" class="validate" ng-model="pieza.ley">
                  <label for="ley">Ley</label>
                </div>
              </div>
              <div class="row">  
                <div class="input-field col s6">                 
                   <input ng-required="true" id="peso_entrega" type="text" style="text-align: right" class="validate" ng-model="pieza.peso_entrega">
                   <label for="peso_entrega">Peso Entrega</label>
                </div>
                <div class="input-field col s6">
                  <input ng-disabled="true" id="puro" type="text" style="text-align: right" class="validate" value="{{pieza.peso_entrega * (pieza.ley / 1000)}}">
                  <label for="puro">Puro</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                   <input ng-required="true" id="observacion" type="text" class="validate" ng-model="pieza.observacion" style="text-align: center;">
                   <label for="direccion">Observación</label>
                </div>
             </div>
              <div class="modal-footer"> 
                <div class="row">
                  <div class="col-md-3">
                    <button class="btn btn-warning waves-effect waves-light" ng-click="verificar(pieza)" ng-if="pieza._id" type="submit" data-dismiss="modal">VERIFICAR</button>
                  </div>
                  <div class="col-md-8 col-md-offset-1">
                    <button class="btn btn-info" style="margin-right: 5%;" ng-click="ajuste(pieza)" type="submit" data-dismiss="modal">ACTUALIZAR</button>
                  </div>       
                </div>
              </div>
             <br>                                                
	         </form>
	        </div>
	      </div>
      </div>
    </div>
  </div>  
</div>
<div data-loading></div>