<div class="container" id="container" > 
  <div class="tamanno">
    <br><br>
    <ul class="nav nav-tabs col-md-12" style="margin-left:0.2cm; " >
      <li class="active"><a class="a" style="color:black; font-weight:600; font-family: 'Tahoma';" data-toggle="tab">Reporte de Entrega</a></li>
    </ul>

	  <div class="container col-md-6 col-md-offset-2" style="margin-top:100px; " ng-show="reporteCierre">
      <div class="row" style=" background-color:#ffffff; border-radius: 10px; box-shadow: 8px 8px 8px black;">
	    <br>
        <h3 style="color:black; font-weight:600; font-family: 'Tahoma';" class="center-align">Clientes</h3>
        <br>
        <form name="Codenx" novalidate class="col s12">
          <div class="row "> 
            <div class="col-md-12" style="margin-left: 3cm;"> 
              <select class="select col-md-6" ng-model="cliente._id" ng-change="buscarCliente(cliente._id)">
                <option value="">Seleccione Cliente</option>
                <option ng-repeat="cliente in clientes" value="{{cliente._id}}">{{cliente.nombres}} {{cliente.apellidos}}</option> 
              </select>
            </div>
          </div> 
          <div class="row">
          <br>
            <div class="col-md-6">
              <h2 style="color:black; font-weight:600; font-size: 12px; font-family: 'Tahoma';text-align: left;">Fecha de Inicio:</h2>
              <input type="text" id="fecha_inicio" ng-model="fecha_inicio" style="text-align: center;"/>
            </div>
            <div class="col-md-6">
              <h2 style="color:black; font-weight:600; font-size: 12px; font-family: 'Tahoma'; text-align: left;">Fecha de Fin:</h2>
              <input type="text" id="fecha_fin" ng-model="fecha_fin" style="text-align: center;" /> 
            </div>
          </div>                       
          <br>                              
          <div style="text-align:center">                        
            <button class="btn btn-primary waves-effect waves-light" ng-disabled="!(fecha_inicio && fecha_fin) && !(cliente)" type="submit" ng-click="generarpqtC()">GENERAR REPORTE </button>
          </div>           
          <br>                                                                       
        </form>           
      </div>
    </div>        
  </div>
</div>
<br>

<script type="text/javascript">
  $('#fecha_inicio').datepicker({
    language: "es",
    format:"yyyy-mm-dd"
  });

    $('#fecha_fin').datepicker({
    language: "es",
    format:"yyyy-mm-dd"
  });
</script>
