<div class="col-lg-10 col-lg-offset-1">
 </br><br>
  <ul class="nav nav-tabs">
    <li class="active"><a class="a" href="#entrega" data-toggle="tab">Reporte de Entrega</a></li>
  </ul>

  <div class="tab-pane">
    <h3 class="center-align">Entregas a Clientes </h3>
    <div class="" ng-controller="ctrl-entrega">
      <table class="table table-hover" datatable="ng" dt-options="dtOptions" id="tabla_reporte" data-page-length='5'>
        <thead>
          <tr class="active">                          
            <th class="center-align bordear-izquierda">Cod. Entrega</th>
            <th class="center-align">Cliente</th>
            <th class="center-align">Cantidad (g)</th>
            <th class="center-align">Fecha Entrega</th>                          
            <th class="center-align bordear-derecha"></th>
          </tr>
        </thead>
        <tfoot>
          <tr class="active">
              <th class="center-align bordear-izquierda-abajo"></th>
              <th class="center-align"></th>
              <th class="center-align"></th>
              <th class="center-align"></th>
              <th class="center-align bordear-derecha-abajo"></th>
          </tr>
        </tfoot>
        <tbody>
          <tr ng-repeat="entrega in entregas" ng-if="(entrega.cantidad > 0)">
            <td class="center-align" >
              {{entrega.EntregaId}}
            </td>
            <td class="center-align" >
              {{entrega.cliente.nombres}} {{entrega.cliente.apellidos}} 
            </td>
            <td class="center-align" >
              {{entrega.cantidad  | currency: ''}}
            </td>
            <td class="center-align" field="por_cerrar">
              {{entrega.fecha_entrega | date:'dd/MM/yyyy' : shortDate}}
            </td>
            <td>
              <a href="" style="color: black;"><span ng-click="generarpqt(entrega._id)" class="zmdi zmdi-collection-pdf zmdi-hc-2x" ></span></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>                           
  </div>
</div>
