<div class="col-lg-10 col-lg-offset-1">
  <br><br>
  <ul class="nav nav-tabs">
    <li class="active"><a class="a" data-toggle="tab">Reporte de Recepción</a></li>
  </ul>

  <div class="container col-lg-6 col-lg-offset-2 bajar" ng-show="reporteP">
    <div class="row container-cierre">
    <br>
      <h3 class="center-align">Proveedores</h3>
      <br>
      <form name="Codenx" novalidate>
        <div class="row"> 
          <div class="col-lg-8"> 
            <select class="select col-lg-offset-3" ng-model="proveedor._id" ng-change="buscarProveedor(proveedor._id)">
              <option value="">Seleccione Proveedor</option>
              <option ng-repeat="proveedor in proveedores" value="{{proveedor._id}}"  ng-if="!proveedor.entregado==0">{{proveedor.nombres}} {{proveedor.apellidos}}</option> 
            </select>
          </div>
        </div> 
        <div class="row">
        <br>
          <div class="col-lg-6">
            <h2 class="left-align">Fecha de Inicio Recepción:</h2>
            <input class="center-align" type="text" id="fecha_inicio" ng-model="fecha_inicio"/>
          </div>
          <div class="col-lg-6">
            <h2 class="left-align">Fecha de Fin Recepción:</h2>
            <input class="center-align" type="text" id="fecha_fin" ng-model="fecha_fin"/> 
          </div>
        </div>                       
        <br>                              
        <div class="center-align">                        
          <button class="btn btn-primary waves-effect waves-light" ng-disabled="!(fecha_inicio && fecha_fin) && !(proveedor)" type="submit" ng-click="generarpqtP()">GENERAR REPORTE </button>
        </div>           
        <br>                                                                       
      </form>           
    </div>
  </div>        
<br>

<script type="text/javascript">
  $('#fecha_inicio').datepicker({
    language: "es",
    format:"yyyy-mm-dd"
  });

    $('#fecha_fin').datepicker({
    language: "es",
    format:"yyyy-mm-dd"
  });
</script>
